body{
  background-color: lightgrey;
}
#app > nav{
  display: flex;
  justify-content: space-evenly;
}

.todo-container{
  width: 100%;
  height: 500px;

  background-color: whitesmoke;

  border-radius: 10px;

  position: relative;
  display: flex;
  justify-content: space-around;
}
