body{
  background-color: lightgrey;
}
#app > nav{
  display: flex;
  justify-content: space-evenly;
}

.todo-container{
  width: 200px;
  height: 500px;

  background-color: whitesmoke;

  border-radius: 10px;

  position: relative;
}

.todo-container > button{
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}